.loading {
  text-align: center;
  color: white;
}

.speakers-header {
  font-size: 120px;
  text-decoration: underline;
}

.speakers-list {
  padding: 50px;
}

.speaker {
  padding: 20px;
}

.speaker-name {
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  color: #adcb2b;
}

.social-icon {
  max-height: 40px;
}

body {
  font-family: Cousine,monospace;
  overflow-x: hidden;
  font-size: 1rem;
  color: white;
  background-color: #0c005f;
}
